  
<table class="table">

    <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Especialidades</th>
          
          
         
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medico of listaMedicos" (click)="evento(medico)">
          <td scope="row" >{{medico.nombre}} {{medico.apellido}}</td>
          <td scope="row" >{{medico.especialidades}}</td>
         
          
         
        
        </tr>       
      </tbody>
</table>
