.card{
    border-radius: 3rem;
    background-color: rgba(167, 167, 236, 0.082);
    border:0.2rem solid rgba(0, 0, 0, 0.623);
    width: 30rem;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
    }