<div *ngIf="cargo">

    <div class="grafico">
        <h3>Calificación global promedio del hospital</h3>
            <h1 style="margin-left: 30%;">{{promedio}} <label class="star" id="estrella5">&#9733;</label></h1>
    </div>

    <div style="display: block" class="grafico">
        <h3>Porcentaje de pacientes que tienen conocidos que se atienden en el hospital</h3>
                <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
                </canvas>
    </div>

    

    <div style="display: block;" class="grafico">
        <h3>Calificación de la atención en el hospital</h3>
        <canvas baseChart
        [datasets]="barChartData2"
        [labels]="barChartLabels2"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
        </canvas>
    </div>

    <div style="display: block" class="grafico">
        <h3>Puntuación promedio de los médicos del hospital</h3>
                <canvas baseChart
                [datasets]="barChartData3"
                [labels]="barChartLabels3"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
                </canvas>
    </div>

    
</div>

<div *ngIf="!cargo">
    <h3>No hay datos</h3>
</div>
