<div *ngIf="cargo">

    <div class="grafico">
        <h3>Calificación global promedio del hospital</h3>
            <h1 style="margin-left: 30%;">{{promedio}} <label class="star" id="estrella5">&#9733;</label></h1>
    </div>

    <div style="display: block" class="grafico">
        <h3>Porcentaje de pacientes que tienen conocidos que se atienden en el hospital</h3>
                <canvas id="graf1" baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
                </canvas>

                <button class="btn btn-success" (click)="excel(1)">Imprimir en excel</button>
                <button class="btn btn-danger" (click)="pdf(1)">Imprimir en pdf</button>
    </div>

    

    <div style="display: block;" class="grafico">
        <h3>Calificación de la atención en el hospital</h3>
        <canvas id="graf2" baseChart
        [datasets]="barChartData2"
        [labels]="barChartLabels2"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
        </canvas>


        <button class="btn btn-success" (click)="excel(2)">Imprimir en excel</button>
        <button class="btn btn-danger" (click)="pdf(2)">Imprimir en pdf</button>
    </div>

    <div style="display: block" class="grafico">
        <h3>Puntuación promedio de los médicos del hospital</h3>
                <canvas id="graf3" baseChart
                [datasets]="barChartData3"
                [labels]="barChartLabels3"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
                </canvas>

                <button class="btn btn-success" (click)="excel(3)">Imprimir en excel</button>
                <button class="btn btn-danger" (click)="pdf(3)">Imprimir en pdf</button>
    </div>

    
</div>

<div *ngIf="!cargo">
    <h3>No hay datos</h3>
</div>
