<div *ngIf=cargo>
    <div style="display: block">
        <canvas baseChart width="30" height="20"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        ></canvas>
    </div>

    <button class="btn btn-success" (click)="excel()">Imprimir en excel</button>
    <button class="btn btn-danger" (click)="pdf()">Imprimir en pdf</button>
</div>
