
<div *ngIf="cargo">   
      
      <div class="flex">
        <div class="flex-item">
          <div style="display: block;" >
          <canvas id="my-canvas" baseChart width="200" height="200"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins"
          ></canvas>
          </div>
        </div>
        
      </div>
      <button class="btn btn-success" (click)="excel()">Imprimir en excel</button>
      <button class="btn btn-danger" (click)="pdf()">Imprimir en pdf</button>
</div>

<div *ngIf="!cargo">
  <h3>No hay datos</h3>
</div>