
<div *ngIf="cargo">   
  <div class="grafico">
      <h1>Por día</h1>
      <div class="flex">
        <div class="flex-item">
          <div style="display: block;" >
          <canvas id="my-canvas" baseChart width="10" height="5"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins"
          ></canvas>
          </div>
        </div>
        
      </div>
      <button class="btn btn-success" (click)="excel()">Imprimir en excel</button>
      <button class="btn btn-danger" (click)="pdf()">Imprimir en pdf</button>
    </div>

      <div class="grafico" style="width: 90%; margin-left: 5%;">
        <h1 style="margin-left: 1rem;">Por paciente</h1>
        <div>
          <label style="margin-left: 1rem;">Seleccione un paciente:</label>
          <select [(ngModel)]="pacienteE" class="form-control" (change)="carg()" style="margin-left: 1rem;width: 12rem;"  name="SelectEsp">
              <option [value]="item.email"  *ngFor="let item of pacientes">{{item.nombre}}  {{item.apellido}}</option>
          </select>  
          
          <div *ngIf="turnP" >           

            <app-tabla-turnos [listaTurnos]="turnosDelPaciente"></app-tabla-turnos>
          </div>

          <div *ngIf="!turnP">
            <h3>Este paciente no tiene turnos cargados</h3>
          </div>
      </div>
    </div>
</div>

<div *ngIf="!cargo">
  <h3>No hay datos</h3>
</div>