<app-nav [tipoMedico]="true" [logeado]="true" [tipoPaciente]="false"></app-nav>
    



        <div *ngIf="descargo" style="min-height: 90%;">
            
            <div *ngIf="this.medicoLogeado.aprobadoPorAdmin">
                <div *ngIf="!noHayTurnos">
                    <div  style="display: flex; flex-direction: row; justify-content: start;">
                        <div *ngIf="turnoSeleccionado" style="width: 40%;">
                            <div class="anda">
                                
                                <p class="form-group">Ingrese anotaciones de la consulta.</p>
                                <textarea class="form-group" [(ngModel)]='txtResenia' style="width: 80%; height: 20rem;" cols="50" rows="30" [ngModelOptions]="{standalone: true}"></textarea>
                                <button class="btn btn-info" (click)="agregarDatos()" *ngIf="!seAgregaronDatos">Ingresar datos extra</button>
                                
                                <div *ngIf="seAgregaronDatos">
                                    <div class="form-group">
                                        <label for="">Edad del paciente</label><br>
                                        <input type="number" [(ngModel)]="edad"><br>
                                        <label for="">Temperatura corporal</label><br>
                                        <input type="text" [(ngModel)]="temperatura"><br>
                                        <label for="">Presión arterial</label><br>
                                        <input type="text" [(ngModel)]="presion"><br>
                                        <button class="btn btn-info" (click)="sumarDato()">Ingresar otro dato.</button>
                                        
                                        <div style="margin-bottom: 1rem;" *ngIf="n1">
                                            
                                            <input type="text" placeholder="Categoría" name="d1n" [(ngModel)]="dato1n" [ngModelOptions]="{standalone: true}">
                                            <div>
                                                <p>Seleccione control a utilizar</p>
                                                <select [(ngModel)]="control1" class="form-control" style="width: 12rem;" (change)="control1a()" name="SelectEsp">
                                                    <option [value]="item" *ngFor="let item of listaControles">{{item}}</option>
                                                </select>  
                                                    <div *ngIf="numero1">
                                                        <input [(ngModel)]="numero1R" type="number" name="" id="">
                                                    </div>  
                                                    <div *ngIf="select1">
                                                        <select [(ngModel)]="select1R" class="form-control" style="width: 12rem;" name="SelectEsp">
                                                            <option [value]="item" *ngFor="let item of listaSelect">{{item}}</option>
                                                        </select>  
                                                    </div>  
                                                    <div *ngIf="rango1">
                                                        <input [(ngModel)]="rango1R" type="range" min="0" max="100" value="0" class="form-control-range">
                                                    </div>  
                                            </div>
                                        </div>

                                        <div style="margin-bottom: 1rem;" *ngIf="n2">
                                           
                                            <input type="text" placeholder="Categoría" name="d2n" [(ngModel)]="dato2n" [ngModelOptions]="{standalone: true}">
                                            <select [(ngModel)]="control2" class="form-control" style="width: 12rem;" (change)="control1b()" name="SelectEsp">
                                                <option [value]="item" *ngFor="let item of listaControles">{{item}}</option>
                                              </select>   

                                              <div *ngIf="numero2">
                                                <input [(ngModel)]="numero2R" type="number" name="" id="">
                                            </div>  
                                            <div *ngIf="select2">
                                                <select [(ngModel)]="select2R" class="form-control" style="width: 12rem;" name="SelectEsp">
                                                    <option [value]="item" *ngFor="let item of listaSelect">{{item}}</option>
                                                </select>  
                                            </div>  
                                            <div *ngIf="rango2">
                                                <input [(ngModel)]="rango2R" type="range" min="0" max="100" value="0" class="form-control-range">
                                            </div>  
                                        </div>

                                        <div style="margin-bottom: 1rem;" *ngIf="n3">                                            
                                            <input type="text" placeholder="Categoría"  name="d3n"[(ngModel)]="dato3n" [ngModelOptions]="{standalone: true}">
                                            <select [(ngModel)]="control3" class="form-control" style="width: 12rem;" (change)="control1c()" name="SelectEsp">
                                                <option [value]="item" *ngFor="let item of listaControles">{{item}}</option>
                                              </select>   
                                              <div *ngIf="numero3">
                                                <input [(ngModel)]="numero3R" type="number">
                                            </div>  
                                            <div *ngIf="select3">
                                                <select [(ngModel)]="select3R" class="form-control" style="width: 12rem;" name="SelectEsp">
                                                    <option [value]="item" *ngFor="let item of listaSelect">{{item}}</option>
                                                </select>  
                                            </div>  
                                            <div *ngIf="rango3">
                                                <input [(ngModel)]="rango3R" type="range" min="0" max="100" value="0" class="form-control-range">
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" (click)="subirResenia()">Subir Reseña</button>
                            </div>
                        </div>
                        
                                        
                        
                    

                        <div style="width: 50%; margin-left: 5%; margin-top: 5%;">
                            <h1 *ngIf="turnoSeleccionado">Historia clínica del paciente.</h1>  
                            <h2 *ngIf="!turnoSeleccionado">Seleccione Turno a informar presionando en aprobar turno.</h2>
                            
                            
                            <app-tabla-turnos  [listaTurnos]="turnosDelDia" [confirmados]="false" [noConfirmados]="!turnoSeleccionado" (aprobarTurno)="mostrarFormulario($event)" [resenia]="turnoSeleccionado"></app-tabla-turnos>
                        </div>
                    </div>
                </div>
                <div *ngIf="noHayTurnos">
                    <h1>No tiene turnos el día de hoy</h1>
                </div>
            </div>

            <div *ngIf="!this.medicoLogeado.aprobadoPorAdmin">
                <h1 style="color:red">Debe ser habilitado por el administrador para poder utilizar esta página.</h1>
            </div>
        </div>

    
    
        <footer class="navbar navbar-fixed-bottom">  
            <button class="btn btn-dark" style="left: 1rem; position: absolute;" (click)="cerrar()">Cerrar sesión</button>
            
        </footer>
    
    
    
    
    
    
    
    
    
       
    

    