 <div *ngIf="cargo">  

     <app-popup *mostrarPopup="mostrar" [mensaje]="mensaje" [color]="color" (cerrarPopup)="cerrarPopup($event)"></app-popup>
 
     <div *ngIf="!hayEncu">
        <h1> Antes de finalizar le solicitamos que responda esta breve encuesta.</h1>
        <div class="form-group">
        ¿Cómo calificaría ha resultado la atención al paciente?
            <select [(ngModel)]="condicionesPacienteR" class="form-control" style="width: 12rem;" (change)="carg1()">
                <option [value]="item" *ngFor="let item of condicionesPaciente">{{item}}</option>
                
            </select>  
        </div>

        <div class="form-group">
            ¿Cómo calificaría las condiciones de infraestructura del hospital?
        <select [(ngModel)]="infraestructuraHospitalR" class="form-control" style="width: 12rem;" (change)="carg2()">
            <option [value]="item" *ngFor="let item of infraestructuraHospital">{{item}}</option>
        </select>  
        </div>


        <div class="form-group">
            ¿Cómo calificaría la provisión de insumos del hospital?
        <select [(ngModel)]="insumosHospitalR" class="form-control" style="width: 12rem;" (change)="carg3()">
            <option [value]="item" *ngFor="let item of insumosHospital">{{item}}</option>
        </select>  
        </div>  

        <button class="btn btn-success" (click)="subirEncuesta()">Finalizar >>>>></button>
    </div>

    <div *ngIf="hayEncu">
        <h2>Esta encuesta ya fue respondida.</h2>
        <button class="btn btn-success" (click)="seguir()">Finalizar >>>>></button>
    </div>
</div>