<app-nav></app-nav>

<form (ngSubmit)="registrar()">
  <ul class="nav nav-tabs" style="background-color: rgb(233, 219, 219);">
    <li class="active" (click)="cambiarP()" style="margin-left: 1rem; ">Paciente</li>
    <li (click)="cambiarE()" style="margin-left: 1rem; ">Empleado/a</li>
    
  </ul>
  
  <div class="form-group">
    
    <input [(ngModel)]="nombre"  class="form-control"  aria-describedby="emailHelp" placeholder="Nombre" [ngModelOptions]="{standalone: true}">
    
  </div>
  <div class="form-group">
    
    <input [(ngModel)]="apellido"  class="form-control"  aria-describedby="emailHelp" placeholder="Apellido" [ngModelOptions]="{standalone: true}">
    
  </div>
    <div class="form-group">
        
        <input [(ngModel)]="mail" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Email" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="form-group">
        
        <input [(ngModel)]="pass1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su Password" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        
        <input [(ngModel)]="pass2" type="password" class="form-control"  placeholder="Ingrese nuevamente el Password" name="pass2">
      </div>
      <div class="form-group" *ngIf="tipoU">
          <h5>Agregar imagen principal</h5>
          <input type="file" accept=".png, .jpg" (change)="imagen1($event)">
          
      </div>
      <div class="progress" style="margin-left: 5%; margin-right: 10%; width: 70%;" *ngIf="tipoU">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent1 | async) +'%'"></div>
      </div>
      <div class="form-group" *ngIf="tipoU">
        <h5>Agregar imagen secundaria</h5>
        <input type="file" accept=".png, .jpg" (change)="imagen2($event)">
        
    </div >
    <div class="progress" style="margin-left: 5%; margin-right: 10%; width: 70%;" *ngIf="tipoU">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent2 | async) +'%'"></div>
    </div>
    
      <div class="form-group" *ngIf="!tipoU">
        <label >Especialidad:</label>
        <select [(ngModel)]="profesion" class="form-control" style="width: 12rem;" (change)="carg()" name="SelectEsp">
          <option [value]="item.nombre" *ngFor="let item of listaEspecialidades">{{item.nombre}}</option>
        </select>        
      </div>

      <div class="form-group" *ngIf="detallar">
        <label for="exampleInputPassword1">Ingrese aquí su Especialidad, en caso de no estar en la lista anterior.</label>
        <input [(ngModel)]="profesion2" type="text" class="form-control"  placeholder="Especialidad" name="profesion2">
      </div>
<br><br>
     
      <button type="button" (click)="quitarCaptcha()" class="btn btn-primary">sacar captcha</button>
      <div style="margin-left: 2%;" *ngIf="capt">
        <re-captcha (resolved)="hecho($event)" siteKey="6LejLP8UAAAAACqNtBzf-L8-HMSJav05u1CIxxGo" ></re-captcha>
      </div>
      

      <button type="submit" class="btn btn-primary">Registrarse</button>

</form>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
