<body>
  <header style="background-color: rgb(158, 158, 209);" class="navbar navbar-dark bg-info navbar-expand  " >
    <div class="navbar-nav-scroll" style="width: 40%;">
      <a class="navbar-brand" routerLink='/'>Inicio</a>
      <a class="navbar-brand" routerLink='/registro'>Registrarse</a>
      <a class="navbar-brand" routerLink='/login'>Ingresar</a>
      <a class="navbar-brand" routerLink='/turnos'>Sistema de turnos</a>
    </div>
    
  </header>

  
    <router-outlet></router-outlet>  
  
  
</body >