<app-nav [tipoAdmin]="true" [tipoPaciente]="false" [tipoMedico]="false" [logeado]="true"></app-nav>

<h1>Bienvenido {{adminLogeado.nombre}}</h1>
<p>Acá podes agregar especialidades a los médicos</p>

<div style="justify-content: flex-start; flex-direction: row; display: flex; padding-left: 1rem;  width: 60%; height: 30rem; border-radius: 5rem; margin-left: 6%; margin-top: 2rem;">
 
    <div>
        <app-tabla-medicos [listaMedicos]="listadoEspecialistas" (saleMedico)="tomarMedico($event)"></app-tabla-medicos>
    </div>

    <div style="margin-left: 10%;" *ngIf="hayMedico">
        <app-agregar-especialidad (actualizar)="agregar($event)"></app-agregar-especialidad>
    </div>

    <div style="margin-left: 20%;" >
        <app-detalle-empleado *ngIf="hayMedico" [empleado]="medicoElegido"></app-detalle-empleado>
    </div>
    
</div>
