<app-nav [tipoAdmin]="true" [tipoPaciente]="false" [tipoMedico]="false" [logeado]="true"></app-nav>

<h1>Aquí puede visualizar información sobre la utilización de la app.</h1>

<div *ngIf="cargo" style="min-height: 53rem;">
    <ul class="nav nav-tabs" style="background-color: rgb(233, 219, 219);">
        <li class="active" (click)="verVis()" style="margin-left: 1rem; ">Visitas</li>
        <li (click)="verTurnos()" style="margin-left: 1rem; ">Turnos</li>
        <li (click)="verMed()" style="margin-left: 1rem; ">Médicos</li>
        <li (click)="verSec()" style="margin-left: 1rem; ">Sectores</li>
        <li (click)="verEnc()" style="margin-left: 1rem; ">Encuestas</li>
      </ul>

      <div *ngIf="vis">
        <app-lineas-logs style="margin: 1%;"></app-lineas-logs>
    </div>

    <div  *ngIf="tur">
        <app-turnos-por-dia [listadoTurnos]="listadoTurnos" [pacientes]="listadoPacientes" style="margin: 1%;"></app-turnos-por-dia>
    </div>

    <div class="grafico2" *ngIf="med">
        <app-medicos-barras [listadoTurnos]="listadoTurnos" [listadoEmpleados]="listadoEmpleados" [listadoLogins]="listadoLogins" style="margin: 1%;"></app-medicos-barras>
    </div>

    <div *ngIf="sec">
        <app-turnos-por-sector  [listadoTurnos]="listadoTurnos"></app-turnos-por-sector>
    </div>

    <div *ngIf="enc">
        <app-informe-comentarios></app-informe-comentarios>
    </div>
</div>

<footer class="navbar navbar-fixed-bottom">  
    <button class="btn btn-dark" style="left: 1rem; position: absolute;" (click)="cerrar()">Cerrar sesión</button>
    
  </footer>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
> 
  <p style="font-size: 20px; color: white">cargando...</p>
</ngx-spinner> 
