<app-nav [tipoAdmin]="true" [tipoPaciente]="false" [tipoMedico]="false" [logeado]="true"></app-nav>

<h1>Aquí puede visualizar información sobre la utilización de la app.</h1>

<div *ngIf="cargo">
    <div class="grafico">
        <app-turnos-por-dia [listadoTurnos]="listadoTurnos" style="margin: 1%;"></app-turnos-por-dia>
    </div>

    <div class="grafico" style="margin-top: 20rem;">
        <app-medicos-barras [listadoTurnos]="listadoTurnos" [listadoEmpleados]="listadoEmpleados" [listadoLogins]="listadoLogins" style="margin: 1%;"></app-medicos-barras>
    </div>

    <div class="grafico">
        <app-turnos-por-sector></app-turnos-por-sector>
    </div>
</div>
