<div class="card">
    <h5>Paciente</h5>
    <h3>{{turno.paciente.nombre}} {{turno.paciente.apellido}}</h3>
    <img src="{{turno.paciente.img1}}" style="border-radius: 100%; height: 10rem; width: 10rem; margin-left: 5rem;">
    <h5>Fecha</h5>
    <h3>{{turno.fecha}}</h3>    
    <h5>Médico {{turno.especialidad}}</h5>
    <h3>{{turno.empleado.nombre}} {{turno.empleado.apellido}}</h3>
    
    <h5 *ngIf="turno.resenia">Reseña</h5>
    <h4 *ngIf="turno.resenia!='no hay'">{{turno.resenia}}</h4>
    <p *ngIf="turno.temperatura">Temperatura: {{turno.temperatura}}</p>
    <p *ngIf="turno.presion">Presión: {{turno.presion}}</p>
    
    <h5 *ngIf="turno.resenia=='no hay'" style="margin-top: 1rem; margin-bottom: 1rem; color: brown;">No hay reseña</h5>
    
    <div *ngIf="turno.comentario">
        <h5 *ngIf="!esPaciente">Comentario</h5>
        <h4 *ngIf="!esPaciente">{{turno.comentario}}</h4>
    </div> 
    
    <h5 *ngIf="!turno.comentario" style="margin-top: 1rem; margin-bottom: 1rem; color: brown;">No hay comentario</h5>

    
    <button (click)="registrar()" class="btn btn-primary" style="width: 10rem; margin-left: 5rem;" *ngIf="esPaciente">Devolver comentario</button>
</div>
