<app-nav [logeado]="false" [inicio]="true"></app-nav>

<app-popup *mostrarPopup="mostrar" [mensaje]="mensaje" [color]="'alert-warning'" (cerrarPopup)="cerrarPopup($event)"></app-popup>

<form action="">
    <div class="form-group">
        <label >Ingrese su correo electrónico</label>
        <input [(ngModel)]='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Ingrese su contraseña</label>
        <input [(ngModel)]='pass' type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [ngModelOptions]="{standalone: true}">
      </div>
      
      <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="onLogin()">Ingresar</button>
    </div>
</form>

<div style="margin-left: 10%;">
  <button type="submit" class="btn btn-secondary" (click)="medicoUno()">Medico 1</button>
  <button type="submit" class="btn btn-secondary" (click)="medicoDos()">Medico 2</button>
  <button type="submit" class="btn btn-secondary" (click)="pacienteUno()">Paciente 1</button>
  <button type="submit" class="btn btn-secondary" (click)="pacienteDos()">Paciente 2</button>
  <button type="submit" class="btn btn-secondary" (click)="admin()">Administrador</button>

</div>
