<app-nav></app-nav>

<form action="">
    <div class="form-group">
        <label >Ingrese su email</label>
        <input [(ngModel)]='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Ingrese su contraseña</label>
        <input [(ngModel)]='pass' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [ngModelOptions]="{standalone: true}">
      </div>
      
      <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="onLogin()">Ingresar</button>
    </div>
</form>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>