<app-nav [tipoAdmin]="true" [tipoPaciente]="false" [tipoMedico]="false" [logeado]="true"></app-nav>

<div style="min-height: 95%;">
    <div style="margin:5%; width: 50%; " *ngIf="hay">
    <app-tabla-medicos [listaMedicos]="listaFiltrada" (saleMedico)="tomarMedico($event)"></app-tabla-medicos>
    </div>

    <div style="margin:5%; width: 50%; " *ngIf="!hay">
        <h1>No hay usuarios que dar de alta</h1>
    </div>

    <div *ngIf="hayMedico">
        <app-detalle-empleado [empleado]="medicoElegido" (saleEmp)="habilitar($event)" [esAdmin]="true"></app-detalle-empleado>
    </div>
</div>
<footer class="navbar navbar-fixed-bottom">  
    <button class="btn btn-dark" style="left: 1rem; position: absolute;" (click)="cerrar()">Cerrar sesión</button>
    
  </footer>