<header style="background-color: rgb(158, 158, 209);" class="navbar navbar-dark bg-info navbar-expand  " style="width: 100%; min-width: 55rem;">
    <div class="navbar-nav-scroll">
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/'>Inicio</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/registro' *ngIf="!logeado">Registrarse</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/login' *ngIf="!logeado">Ingresar</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/turnos' *ngIf="tipoPaciente">Solicitar turno</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/turnosAprobados' *ngIf="tipoPaciente">Agenda de turnos</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/historiaClinica' *ngIf="tipoPaciente">Historia clínica</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/homeAdmin' *ngIf="tipoAdmin">Principal</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/altaAdmin' *ngIf="tipoAdmin">Agregar administrador</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/altaUsuario' *ngIf="tipoAdmin">Alta de usuarios</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/datos' *ngIf="tipoAdmin">Datos</a>
      <a class="navbar-brand" style="margin-top: 1%;; margin-bottom: 1%" routerLink='/homeMedico' *ngIf="tipoMedico">Principal</a>
      <a class="navbar-brand"  style="margin-top: 1%;; margin-bottom: 1%" routerLink='/pendientes' *ngIf="tipoMedico">Solicitudes de turnos</a>
      <a class="navbar-brand" style="margin-top: 1%; margin-bottom: 1%;" routerLink='/confirmados' *ngIf="tipoMedico">Agenda de turnos</a>
      <a class="navbar-brand" style="margin-top: 1%; margin-bottom: 1%;" routerLink='/historial' *ngIf="tipoMedico">Historial de pacientes</a>
      <a class="navbar-brand" style="margin-top: 1%; margin-bottom: 1%;" routerLink='/atencion' *ngIf="tipoMedico">Subir informe medico</a>
     
      
      <!--img src="{{}}" alt="1rem"-->
    </div>

   
    
    
      
   
  </header>
