 
<table class="table">

    <thead>
        <tr>
          <th scope="col">Paciente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          
          
         
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" ></td>
          <td scope="row" ></td>
          <td scope="row" ></td>
          <td scope="row" *ngIf="aConfirmar"></td>
          <td scope="row" *ngIf="aConfirmar"></td>
         
          
         
        
        </tr>       
      </tbody>
</table>
