 
<table class="table">

    <thead>
        <tr>
          <th scope="col">Paciente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          
          
         
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of listaTurnos">
          <td scope="row" >{{turno.paciente.nombre}} {{turno.paciente.apellido}}</td>
          <td scope="row" >{{turno.fecha}}</td>
          <td scope="row" >{{turno.numeroTurno | turnos}}</td>
          <td scope="row" *ngIf="confirmados"><button (click)="cancelar(turno)" class="btn btn-warning">Cancelar turno</button> </td>
          <td scope="row" *ngIf="!confirmados"><button (click)="aprobar(turno)" class="btn btn-primary">Aprobar turno</button> </td>
         
          
         
        
        </tr>       
      </tbody>
</table>
