<app-nav [tipoPaciente]="true" [logeado]="true"></app-nav>

<app-popup *ngIf="mostrarT" [mensaje]="mensaje" [color]="color" (cerrarPopup)="cerrarPopup($event)"></app-popup>

<div *ngIf="mostrar" style="min-height: 54rem;">
    <div *ngIf="hayTurnos" style="margin-left: 20%;">
        <app-tabla-turnos [confirmados]="true" [listaTurnos]="turnosDelPaciente" (cancelarTurno)="cancelar($event)"></app-tabla-turnos>
    </div>

    <div *ngIf="!hayTurnos">
        <h1>Usted no tiene turnos las próximas dos semanas.</h1>
    </div>
</div>


<footer class="navbar navbar-fixed-bottom">  
  <button class="btn btn-dark" style="left: 1rem; position: absolute;" (click)="cerrar()">Cerrar sesión</button>
  
</footer>