<app-nav [tipoMedico]="true" [logeado]="true" [tipoPaciente]="false"></app-nav>

<div *ngIf="descargo" style="min-height: 55rem;" >
    <div *ngIf="!this.medicoLogeado.aprobadoPorAdmin">
        <h1 style="color:red">Debe ser habilitado por el administrador para poder utilizar esta página.</h1>
    </div>

    <div *ngIf="this.medicoLogeado.aprobadoPorAdmin" style="min-height:30rem">
        <div *ngIf="noHayTurnos">
            <h1>No tiene turnos solicitados</h1>
        </div>

        <div *ngIf="!noHayTurnos">
            <app-tabla-turnos [noConfirmados]="true"  [resenia]="false" [listaTurnos]="listaTurnosA" (aprobarTurno)="cargarTurno($event)"></app-tabla-turnos>
        </div>
    </div>
</div>

<footer class="navbar navbar-fixed-bottom" style="min-width: 55rem;">  
    <button class="btn btn-dark" style="left: 1rem; position: absolute;" (click)="cerrar()">Cerrar sesión</button>
    
  </footer>