<app-nav [tipoPaciente]="true" [logeado]="true"></app-nav>

<div *ngIf="cargo" style="display: flex; justify-content: start; flex-direction: row;min-height:85rem">
    <div *ngIf="!vacio" style="width: 50%;">
    <app-tabla-turnos [listaTurnos]="turnosDelPaciente" [confirmados]="false" [noConfirmados]="false" [resenia]="true" (pasarTurno)="tomarTurno($event)"></app-tabla-turnos>
    </div>

    <div *ngIf="vacio"><h1>Usted no tiene Historia Clínica registrada en nuestra clínica.</h1></div>

    <div *ngIf="hayTurno" style="width: 40%; margin-left: 12%; margin-top: 7%;">
        <app-detalle-resenia [turno]="turnoParaDetalle" [esPaciente]="true" [listadoComentarios]="comentarios"></app-detalle-resenia>
    </div>
</div>



<footer class="navbar navbar-fixed-bottom">  
    <button class="btn btn-dark" style="left: 1rem; position: absolute;" (click)="cerrar()">Cerrar sesión</button>
    
</footer>