.form{
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;
    border: black 0.61rem solid;
    border-radius: 0.5rem;
    background-color: rgba(14, 66, 75, 0.534);
}

.star{
    font-size: 5rem;
}

.star:hover{
    color:yellow;
    cursor: pointer;
}

.star:hover ~ .star{
    color: yellow;
}

.star-rating{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}



